extends layout

block content
    article Unfortunately this project is currently under development and is not yet available. If you wish to help me, please email me at 
        .code jakieschneider13@gmail.com
        |  or contact me via 
        a(href="https://github.com/KlaussMC/7-days.io") GitHub
        | .
