extends layout

block content
    .sorry Unfortunately this project is currently under development and is not yet available. 
        | If you wish to contribute, please email me at 
        .code jakieschneider13@gmail.com
        |  or contact me via 
        a(href="https://github.com/KlaussMC/7-days.io") GitHub
        | .

        img(src="/hostedImages/thanks.png")
