footer
    h1=title
.copyright
    .name © #{title}
        .socialMedia
            a(href="", alt="Github")
                img(src="/res/github_logo.png")
            a(href="", alt="Instagram")
                img(src="/res/instagram_logo.png")
            a(href="", alt="Facebook")
                img(src="/res/facebook_logo.png")
    .logo
        img(src='/res/logo_white.png').logoImg
    .links
        a(href='/help') Help
        a(href='/docs') Documentation
        a(href='/toc') Terms And Conditions
