extends layout

block content
    pre=errors
    .cont
        form(action="/", method="post")
            input(type="text", name="un", placeholder="User name")
            input(type="password", name="pw", placeholder="Password")

            .links
                button(type="submit") Log In
                a(href="/signup") Don't have an account?
                br
