doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/master.css')
    //- link(rel='stylesheet', href="/css/controls.css")
    
    link(href="https://fonts.googleapis.com/css?family=Roboto:300", rel="stylesheet")
    
    script(src="/src/lib/jquery.min.js")
  body
    .wrapper
      block content
