h1.indent Docs

form(method="post", action="/docs")#search
    input(name='search', type="search", placeholder="Search Docs")#searchBox
    button(type="submit")#searchBtn Search

.indent
    a(href="/docs") Go to docs
